*{
  margin:0;
  padding:0;
  font-family:sans-serif;
  font-size:14px;
}

body{
  max-width:100%;
  margin:0 auto;
  align-items:center;
  display:flex;
  background-size:cover;
}

#center{
  width:80%;
  max-width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin:0 auto;
}

#center:hover{
  cursor:pointer;
}

#center>img{
  width:40%;
  border-radius:50%;
  margin:0 auto;
  border:10px solid rgb(76, 78, 79);
  transition:border 0.5s;
  opacity:0.80;
}

#center>img:hover {
  border:10px solid rgb(135, 138, 139);
  opacity:1;
}

#center h1, p{
  width:80%;
  max-width:100%;
  margin:0 auto;
  padding:2px;
  text-align:center;
  color:rgb(98, 104, 108);
}

#center h1{
  font-size:1.5em;
}

#center footer p{
  width:100%;
  margin:0 auto;
}

#icon-sosmed{
  width:20%;
  margin:0 auto;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
}

#icon-sosmed img{
  width:40px;
  margin:2px;
}
